/* Your Styles Here */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: green;
}

@keyframes scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("imgs/background.png");
  background-repeat: repeat;
  background-size: 100px;
  animation-name: scroll;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carousel {
  /* background-color: rebeccapurple; */
  min-width: 500px;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#back,
#forward {
  width: 50px;
  height: 100%;
  border-radius: 60px;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  z-index: 99;
  transition: font-size 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#back:hover,
#forward:hover {
  font-size: 30px;
}

#forward:active {
  /* transform: translateX(100px); */
}

.cards {
  width: 300px;
  height: 500px;
}

.card {
  width: 300px;
  height: 500px;
  background-color: white;
  /* padding: 20px; */
  border-radius: 20px;
  box-sizing: border-box;
  position: absolute;
  box-shadow: 0px 0px 20px -5px black;
  transition: 0.2s transform cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform-style: preserve-3d;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.back {
  transform: rotateY(180deg);
}

.label {
  position: absolute;
  top: 500px;
  text-align: center;
  width: 100%;
  color: white;
}
